### Xcode ###
## User settings
xcuserdata/
.DS_Store
OpenCV/.DS_Store
VidSync.xcodeproj/project.xcworkspace/xcuserdata/jason.xcuserdatad
VidSync.xcodeproj/project.xcworkspace/xcuserdata/*


## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

# End of https://www.toptal.com/developers/gitignore/api/xcode
