<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>VidSyncTypes</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Fish3DIcon</string>
			<key>CFBundleTypeName</key>
			<string>VidSyncTypes</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>InMemory</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>VidSyncQuadrat</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>QuadratIcon</string>
			<key>CFBundleTypeName</key>
			<string>VidSyncQuadrat</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>InMemory</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>VidSyncCalibration</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>CamerasIcon</string>
			<key>CFBundleTypeName</key>
			<string>VidSyncCalibration</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>InMemory</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>VidSyncDistortion</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DistortionIcon</string>
			<key>CFBundleTypeName</key>
			<string>VidSyncDistortion</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>InMemory</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vsd</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VidSyncIcon</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/octet-stream</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SQLite</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>VidSyncDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>SQLite</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleHelpBookFolder</key>
	<string>VidSync Help Draft</string>
	<key>CFBundleHelpBookName</key>
	<string>vidsync.help</string>
	<key>CFBundleIconFile</key>
	<string>VidSyncIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.jasonneuswanger.VidSyncApp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.356</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>ATSApplicationFontsPath</key>
	<string>Fonts</string>
</dict>
</plist>
